<configuration>

    <!-- Configuração para imprimir no Console (IntelliJ) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Formato: Data | Level [Thread] Classe - Mensagem -->
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuração para salvar em arquivo de texto -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/server.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define o nível global (INFO ignora as mensagens de DEBUG na produção) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>